<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% if page.tags contains "MathJax" %}
		{%- include mathjax-head.html -%}
		{% endif %}
		{%- include google-analytics.html -%}
		{%- include yandex-metric.html -%}
	</head>
	<body>
   		<header>
   		<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
	   		<img src="{{site.logo | relative_url}}" alt="Logo" />
    	{% endif %}

   		<p>{{ site.description | default: site.github.project_tagline }}</p>

		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
   		</header>
		</div>
			
		<div class="container">
			
			{{ content }}
			
		</div>
		<!-- /.container -->
		
		<footer>
			<ul>
	       		<li><a href="mailto:mihail.kiselev@gmail.com">email</a></li>
	       		<li><a href="https://mnlist.ru">mnlist.ru</a></li>
			</ul>
		</footer>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
		{% if page.comments %}
			{% include disqus.html %}
		{% endif %}
	</body>
</html>