<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% if page.tags contains "MathJax" %}
		{%- include mathjax-head.html -%}
		{% endif %}
		{%- include google-analytics.html -%}
		{%- include yandex-metric.html -%}
	</head>
	<body>
   		<header>
		<nav>
    		<ul>
				<p>Блог инженера</p>
        		<a href="/">Home</a>
	        	<a href="/about">About</a>
        		<a href="/cv">CV</a>
        		<a class="active" href="/blog">Blog</a>
    		</ul>
		</nav>
		</header>
			

			
			{{ content }}
			

		
		<footer>
			<ul>
	       		<li><a href="mailto:mihail.kiselev@gmail.com">email</a></li>
	       		<li><a href="https://mnlist.ru">mnlist.ru</a></li>
			</ul>
		</footer>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
		{% if page.comments %}
			{% include disqus.html %}
		{% endif %}
	</body>
</html>